h1{
  color:white;
  font-size: 50px;
  font-family: cursive;
}
body {
    text-align: center;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
img {
  height:500px;
  width: 700px;
}
h2 {
  color: yellow;
  font-size: 35px;
  font-family: Georgia;
}
p {
  text-align: right;
  font-size: 30px;
  color:black;
  font-family: cursive;
}
h3 {

}
#love{
  
}
